<ul>
    @for (aluno of ALUNOS; track aluno.matricula) {
        <li>
            {{aluno.matricula | matricula}} -

            @if(aluno.idade < 18) {
                {{aluno.nome | uppercase}}
            } @else {
                {{aluno.nome | titlecase}}
            }

            - {{aluno.idade}}
            <button (click)="remover(aluno)">X</button>
        </li>
    }
</ul>

<input [(ngModel)] = "alunoDeCadastro.nome" placeholder="nome">
<input [(ngModel)] = "alunoDeCadastro.matricula" placeholder="matrícula">
<input [(ngModel)] = "alunoDeCadastro.idade" placeholder="idade">
<button (click) = "cadastrar()">Cadastrar</button>

<h2>O que está sendo digitado?</h2>
<div>{{alunoDeCadastro.nome}}</div>
