    @for (aluno of ALUNOS; track aluno.matricula) {
        <mat-card class="card-usuario" appearance="outlined">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ aluno.nome }}</mat-card-title>
                <mat-card-subtitle>{{ aluno.matricula }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    O aluno {{aluno.nome | titlecase}} do IFPB...
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [matBadge]="aluno.likes" (click)="curtir(aluno)">Gostei</button>
                <button mat-button (click)="descurtir(aluno)">Não gostei!</button>
                <button mat-icon-button (click)="remover(aluno)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="avaliar(aluno)">
                    <mat-icon>{{ nomeIconeCurtir(aluno) }}</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    }

<mat-form-field>
    <input matInput [(ngModel)] = "alunoDeCadastro.nome" placeholder="nome">
</mat-form-field>
<br>
<mat-form-field>
    <input matInput [(ngModel)] = "alunoDeCadastro.matricula" placeholder="matrícula">
</mat-form-field>
<br>
<mat-form-field>
    <input matInput [(ngModel)] = "alunoDeCadastro.idade" placeholder="idade">
</mat-form-field>
<br>
<button mat-raised-button (click) = "cadastrar()">Cadastrar</button>

<h2>O que está sendo digitado?</h2>
<div>{{alunoDeCadastro.nome}}</div>
